.main-btn-primary {
  background-color: #0068ff;
  color: #fff;
}
.main-btn-primary:hover {
  background-color: #1a77ff;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-primary:active {
  background-color: #0d70ff;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-secondary {
  background-color: #ffc24d;
  color: #fff;
}
.main-btn-secondary:hover {
  background-color: #ffb933;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-secondary:active {
  background-color: #ffb11a;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-link-primary {
  background: transparent;
  color: #0068ff;
}
.main-btn-link-primary:hover {
  color: #3386ff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn-link-secondary {
  background: transparent;
  color: #ffa800;
}
.main-btn-link-secondary:hover {
  color: #3386ff;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.main-btn.btn-size {
  width: 100%;
}
.main-btn.btn-size-sm {
  padding: 0.25rem 1rem;
}
.main-btn.btn-size-md {
  padding: 0.5rem 1.25rem;
}
.main-btn.btn-size-lg {
  padding: 1rem 1.5rem;
}
@media (max-width: 991px) {
  .main-btn.btn-size-lg {
    padding: 0.75rem 2rem;
    font-size: 1rem;
  }
}

table {
  width: 100%;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

a {
  color: #0068ff;
}

h1, h2, h3, h4, h5, h6, p, small, strong, ul, li {
  position: relative;
}

.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.md-box {
  width: 100%;
  overflow: hidden;
}
.md-box .bg-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.md-card {
  width: 100%;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: #fff;
}

a[name] {
  top: -55px;
  position: absolute;
}
@media (max-width: 991px) {
  a[name] {
    top: -80px;
  }
}

.media {
  border-top: 5px solid;
}

/*# sourceMappingURL=main.css.map */
