.main-btn {
  &.primary {
    background-color: $primary-color;
    color: $white_c;

    &:hover {
      background-color: lighten($primary-color, 5%);
      @include smooth-transition($primary-transition);
    }

    &:active {
      background-color: lighten($primary-color, 2.5%);
      @include smooth-transition($primary-transition);
    }
  }

  &.secondary {
    background-color: lighten($secondary-color, 15%);
    color: $white_c;

    &:hover {
      background-color: lighten($secondary-color, 10%);
      @include smooth-transition($primary-transition);
    }

    &:active {
      background-color: lighten($secondary-color, 5%);
      @include smooth-transition($primary-transition);
    }
  }

  &.link {
    background: transparent;
    color: $primary-color;

    &:hover {
      color: lighten($primary-color, 10%);
      text-decoration: none;
      @include smooth-transition($primary-transition);
    }
  }

  &.btn-sm {
    padding: .5rem 1rem;
  }

  &.btn-lg {
    padding: .75rem 2rem;
    width: 100%;
    @include media-breakpoint-up(lg) {
      padding: 1rem 1.5rem;
      font-size: 1rem;
    }
  }
}
