@import '1-tools/index';
@import '2-helpers/index';
@import '3-base/index';
@import '4-layout/index';
@import '5-modules/index';
@import '6-pages/index';
@import '7-themes/index';

  
#scene1CtaPurple{
  position: relative;
  & > div{
    position: absolute;
    width: 340px;
    height: 340px;
    & > div {
      $color: #2E385C;
      top: 200px;
      left: 120px;
      width: 340px;
      height: 340px;
      background: $color;
    }
  }
}

.mouse-parallax-scene {
  position: absolute;
  .layer {
    position: absolute;
    width: 340px;
    height: 340px;
  }
}
