$primary-font: "Gill Sans", sans-serif;
$primary-font-color: #272727;

//font-sizes
$fs-09: .9rem;
$fs-1: 1rem;

h1, h2, h3, h4, h5, h6, p, small, strong, ul, li {
  position: relative;
}

//FYI
//f.e.: .fs-09-rem class and LESS
$font-sizes-rem: (1, 2, 3, 4, 5, 6, 7, 8, 9);
$rem: 'rem' !important;
$dot: '.';
//beakpoints
$lg: 'lg';
$md: 'md';
$sm: 'sm';
@each $size in $font-sizes-rem {
  .fs-0#{$size} {
    font-size: #{$dot}#{$size}#{$rem};
  }
}
@each $size in $font-sizes-rem {
  .fs-#{$lg}-0#{$size} {
    @include media-breakpoint-down(#{$lg}) {
      font-size: #{$dot}#{$size}#{$rem};
    }
  }
}
@each $size in $font-sizes-rem {
  .fs-#{$md}-0#{$size} {
    @include media-breakpoint-down(#{$md}) {
      font-size: #{$dot}#{$size}#{$rem};
    }
  }
}
@each $size in $font-sizes-rem {
  .fs-#{$sm}-0#{$size} {
    @include media-breakpoint-down(#{$sm}) {
      font-size: #{$dot}#{$size}#{$rem};
    }
  }
}

h1 {
  font-size: 3rem;
  @include media-breakpoint-down(lg) {
    font-size: 2.75rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 2.5rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2.25rem;
  }
  @include media-breakpoint-down(xs) {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 2.5rem;
  @include media-breakpoint-down(lg) {
    font-size: 2.25rem;
  }
  @include media-breakpoint-down(md) {
    font-size: 2rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.75rem;
  }
  @include media-breakpoint-down(xs) {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.25rem;
  @include media-breakpoint-down(md) {
    font-size: 1.1rem;
  }
}