$primary-font: "Gill Sans", sans-serif;
$primary-font-color: #272727;

//font-sizes
$fs-09: .9rem;
$fs-1: 1rem;

h1, h2, h3, h4, h5, h6, p, small, strong, ul, li {
  position: relative;
}

//FYI
//f.e.: .fs-12 /// fs-lg-12 ///    12 = 1.2rem
$font-sizes-rem: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9);
$font-sizes-rem-2: (9, 8, 7, 6, 5, 4, 3, 2, 1, 0);
$unit: 'rem' !important;
$dot: '.';

@each $size in $font-sizes-rem {
  @each $size-2 in $font-sizes-rem-2 {
    .fs-#{$size}#{$size-2} {
      font-size: #{$size}#{$dot}#{$size-2}#{$unit};
    }
  }
}

@media(max-width: 1200px) {
  @each $size in $font-sizes-rem {
    @each $size-2 in $font-sizes-rem-2 {
      .fs-lg-#{$size}#{$size-2} {
        font-size: #{$size}#{$dot}#{$size-2}#{$unit};
      }
    }
  }
}

@media(max-width: 991px) {
  @each $size in $font-sizes-rem {
    @each $size-2 in $font-sizes-rem-2 {
      .fs-md-#{$size}#{$size-2} {
        font-size: #{$size}#{$dot}#{$size-2}#{$unit};
      }
    }
  }
}

@media(max-width: 767px) {
  @each $size in $font-sizes-rem {
    @each $size-2 in $font-sizes-rem-2 {
      .fs-sm-#{$size}#{$size-2} {
        font-size: #{$size}#{$dot}#{$size-2}#{$unit};
      }
    }
  }
}

@media(max-width: 576px) {
  @each $size in $font-sizes-rem {
    @each $size-2 in $font-sizes-rem-2 {
      .fs-xs-#{$size}#{$size-2} {
        font-size: #{$size}#{$dot}#{$size-2}#{$unit};
      }
    }
  }
}