@mixin smooth-transition($primary-transition...) {
  -webkit-transition: $primary-transition;
  -moz-transition: $primary-transition;
  -o-transition: $primary-transition;
  transition: $primary-transition;
}

@mixin box-shadows($primary-box-shadow...) {
  -webkit-box-shadow: $primary-box-shadow;
  -moz-box-shadow: $primary-box-shadow;
  box-shadow: $primary-box-shadow;
}

@mixin border-radius($primary-border-radius...){
  -webkit-border-radius: $primary-border-radius;
  -moz-border-radius: $primary-border-radius;
  border-radius: $primary-border-radius;
}

@mixin border-radius($secondary-border-radius...){
  -webkit-border-radius: $secondary-border-radius;
  -moz-border-radius: $secondary-border-radius;
  border-radius: $secondary-border-radius;
}

@mixin border-radius($zero-border-radius...){
  -webkit-border-radius: $zero-border-radius;
  -moz-border-radius: $zero-border-radius;
  border-radius: $zero-border-radius;
}
