//base colors
$c-blue-500: #e6f0ff;
$c-blue-100: #e6f0ff;
$c-blue-200: #b3d1ff;
$c-blue-300: #80b3ff;
$c-blue-400: #4d94ff;
$c-blue-500: #1a75ff;

$c-dark-50: #f2f2f2;
$c-dark-100: #e6e6e6;
$c-dark-200: #cccccc;
$c-dark-300: #b3b3b3;
$c-dark-400: #999999;
$c-dark-500: #272727;