doctype html
html(class="pg-home" lang="sk-SK")
    head
        include includes/head.pug
    body
        div.ly-layout
            //header
            header.ly-header
                h2 subpage
            //main content
            main.ly-content
            footer
