@import "../framework/bootstrap/bootstrap";
@import "partials/variables";
@import "partials/mixins";
@import "partials/font";
@import "partials/button";
@import "partials/global";
@import "partials/navbar";
@import "partials/header";
@import "partials/helper";
@import "partials/footer";
@import "partials/font-icons";
@import "partials/animations";

html, body {
  height: 100%;
  font-family: $primary-font;
  color: $primary-font-color;
  font-size: 1rem;
}

