@charset "UTF-8";

.main-btn {
  text-decoration: none;
  &:focus {
    outline: 0 !important;
    box-shadow: none;
  }
  &-primary {
    background-color: $c-primary-500;
    color: $c-white;

    &:hover {
      background-color: $c-primary-400;
      @include smooth-transition($primary-transition);
    }

    &:active {
      background-color: $c-primary-600;
      @include smooth-transition($primary-transition);
    }
  }

  &-secondary {
    background-color: $c-secondary-500;
    color: $c-white;

    &:hover {
      background-color: $c-secondary-400;
      @include smooth-transition($primary-transition);
    }

    &:active {
      background-color: $c-secondary-600;
      @include smooth-transition($primary-transition);
    }
  }

  &-ghost {
    &-primary {
      background: transparent;
      border: 1px solid $c-primary-500;
      color: $c-white;

      &:hover {
        background-color: $c-primary-400;
        border-color: $c-primary-400;
        @include smooth-transition($primary-transition);
      }

      &:active {
        background-color: $c-primary-600;
        border-color: $c-primary-600;
        @include smooth-transition($primary-transition);
      }
    }
    &-secondary {
      background: transparent;
      border: 1px solid $c-primary-500;
      color: $c-white;

      &:hover {
        background-color: $c-secondary-400;
        border-color: $c-secondary-400;
        @include smooth-transition($primary-transition);
      }

      &:active {
        background-color: $c-secondary-600;
        border-color: $c-primary-600;
        @include smooth-transition($primary-transition);
      }
    }
  }

  &-link {
    &-primary {
      background: transparent;
      color: $c-primary-500;
      &:hover {
        color: $c-primary-400;
        text-decoration: none;
        @include smooth-transition($primary-transition);
      }
    }
    &-secondary {
      background: transparent;
      color: $c-secondary-500;

      &:hover {
        color: $c-secondary-400;
        text-decoration: none;
        @include smooth-transition($primary-transition);
      }
    }
  }
  &.btn-size {
    width: 100%;
    &-sm {
      padding: 0.5rem 1rem;
    }
    &-md {
      padding: 1rem 1.5rem;
    }
    &-lg {
      padding: 1.25rem 2.5rem;
    }
  }
}
