@charset "UTF-8";

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
strong,
ul,
li {
  position: relative;
}

h1,
.h1 {
  font-size: 3rem;
  @media (max-width: $bp-tablet) {
    font-size: 2.5rem;
  }
  @media (max-width: $bp-phone) {
    font-size: 2rem;
  }
}
h2,
.h2 {
  font-size: 2rem;
  @media (max-width: $bp-tablet) {
    font-size: 1.75rem;
  }
  @media (max-width: $bp-phone) {
    font-size: 1.4em;
    line-height: 40px;
  }
}
h3,
.h3 {
  font-size: 1.75rem;
  @media (max-width: $bp-tablet) {
    font-size: 1.5rem;
  }
  @media (max-width: $bp-phone) {
    font-size: 1.25rem;
  }
}
h4,
.h4 {
  font-size: 1.5rem;
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}
p {
  font-weight: 400;
  letter-spacing: 0.02rem;
  line-height: 32px;
}
.p-large {
  font-size: 1.25rem;
  @media (max-width: $bp-tablet) {
    font-size: 1.5rem;
  }
}
.p-regular {
  font-size: 1rem;
}
.p-small {
  font-size: 0.9rem;
}
.overline-large {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 1.25rem;
  font-weight: 300;
  @media (max-width: $bp-tablet) {
    font-size: 1rem;
  }
}
.overline-regular {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 1rem;
  font-weight: 300;
}
.overline-small {
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  font-size: 0.9rem;
  font-weight: 300;
  @media (max-width: $bp-tablet) {
    font-size: 0.8rem;
  }
}

//FONT-WEIGHT
//FYI
//f.e.: .fw-400 /// 400 = 400
$font-weights: (100, 200, 300, 400, 500, 600, 700, 800, 900);
@each $font-weight in $font-weights {
  .fw-#{$font-weight} {
    font-weight: #{$font-weight} !important;
  }
}
